/* Custom styles for this template */
body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.divBuscar {
    max-width: 90%;
    margin: 0 auto;
}

.divExcluir {
}

.form-control {
    max-width: 40%;
    display: inline;
    vertical-align: middle;
}

.js-add_input, .js-edit_input {
    width: 20%;
    margin-right: 5px;
    min-width: 100px;
}

.js-add_div {
    margin: 15px;
}

.js_button {
    margin-right: 5px;
}

#divResultado input {
    margin-left: 5px
}

#divResultado {
    height: 500px;
    overflow: auto;
}

#txtBuscaCarro input {
    display: none;
}

#chave-busca {
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

#divResultado th {
    text-align: center;
}

.divChaveBusca {
    width: 96%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 10px;
}

.js-edit_input {
    text-align: center;
}

#coneudoResultado td {
    width: 150px;
}

.input-group .form-control {
    width: 70% !important;
    margin-right: 5px;
}

.input-group {
    display: ruby;
    white-space: pre-line;
}

#divAdicionarCampo {
    margin: 30px auto 30px auto;
}

#btnLimparFiltro {
    display: none;
}